
.center-text-trick {
    margin-top: 120px;
}

.question{
    font-size: 350%;
    line-height: 1;

}

.answer{
    margin: 20px;
    font-size: 150%;
    line-height: 1;
}

.answer .btn{
    margin-top: 5px;
}